/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --color-principal: #0f2c52;
  --color-secundario: #b08d57;
  --color-texto: #333333;
  --color-fondo: #f8f9fa;
  --color-blanco: #ffffff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-fondo);
  color: var(--color-texto);
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background: var(--color-principal);
  color: white;
  padding: 20px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.menu a:hover {
  color: var(--color-secundario);
}

/* HERO */

.hero {
  background: white;
  padding: 100px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  color: var(--color-principal);
  margin-bottom: 20px;
}

.hero p {
  max-width: 700px;
  margin: auto;
  margin-bottom: 35px;
  font-size: 1.1rem;
}

.btn {
  display: inline-block;
  background: var(--color-principal);
  color: white;
  padding: 14px 28px;
  text-decoration: none;
  border-radius: 6px;
}

.btn:hover {
  background: var(--color-secundario);
}

/* FOOTER */

.footer {
  margin-top: 80px;
  background: var(--color-principal);
  color: white;
  text-align: center;
  padding: 30px;
}
/* PÁGINAS INTERNAS */

.page {
  padding: 70px 0;
}

.page h1 {
  color: var(--color-principal);
  margin-bottom: 30px;
  font-size: 2.5rem;
}

.page h2 {
  color: var(--color-principal);
  margin-top: 45px;
  margin-bottom: 20px;
}

.page p {
  margin-bottom: 20px;
  text-align: justify;
}

.page ul {
  margin-left: 25px;
  margin-bottom: 25px;
}

.page li {
  margin-bottom: 10px;
}
